
rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Helper functions
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'site_admin';
    }

    // Users can create their own user document, but not assign roles
    // Users can read and update their own document
    match /users/{userId} {
      allow read, update: if request.auth.uid == userId;
      allow create: if request.auth.uid == userId && !('role' in request.resource.data);
    }
    
    // Admins can manage all user documents
    match /users/{userId} {
        allow write: if isAdmin();
    }
    
    // Read access for authenticated users, write access only for admins
    match /{document=**} {
      allow read: if request.auth != null;
      allow write: if isAdmin();
    }
  }
}

    